<h1 class='mt-3'>Pipies <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col">
    <table class="table">
      <thead class='thead-dark'>
          <th>Variable</th>
          <th>Pipe</th>
          <th> Salida</th>
      </thead>
      <tbody>
        <tr>
          <td> {{ nombre }}</td>
          <td> uppercase </td>
          <td> {{ nombre | uppercase }} </td>
        </tr>

        <tr>
          <td> {{ nombre }}</td>
          <td> lowercase </td>
          <td> {{ nombre | lowercase }} </td>
        </tr>

        <tr>
          <td> {{ nombre }}</td>
          <td> slice:3 </td>
          <td> {{ nombre | slice:3 }} </td>
        </tr>

        <tr>
          <td> {{ nombre }}</td>
          <td> slice:0:3 </td>
          <td> {{ nombre | slice:0:3 }} </td>
        </tr>

        <tr>
          <td> {{ arreglo }}</td>
          <td> slice:1:5 </td>
          <td> {{ arreglo | slice:1:5 }} </td>
        </tr>

        <tr>
          <td> {{ PI }}</td>
          <td> number (Entero) </td>
          <td> {{ PI | number:'1.0-0' }} </td>
        </tr>

        <tr>
          <td> {{ PI }}</td>
          <td> number (Entero Formateado) </td>
          <td> {{ PI | number:'3.0-0' }} </td>
        </tr>

        <tr>
          <td> {{ PI }}</td>
          <td> number Con 2 decimales </td>
          <td> {{ PI | number:'.0-2' }} </td>
        </tr>

        <tr>
          <td> {{ porcentaje }}</td>
          <td> Porcentaje - Comun</td>
          <td> {{ porcentaje | percent }} </td>
        </tr>

        <tr>
          <td> {{ porcentaje }}</td>
          <td> Porcentaje - Formato</td>
          <td> {{ porcentaje | percent:'3.2-2' }} </td>
        </tr>

        <tr>
          <td> {{ total }}</td>
          <td> Currency - Normal</td>
          <td> {{ total | currency }} </td>
        </tr>

        <tr>
          <td> {{ total }}</td>
          <td> Currency - Moneda Especifica</td>
          <td> {{ total | currency:'ARS $ ':'symbol':'.0-0' }} </td>
        </tr>

        <tr>
          <td> {{ data }}</td>
          <td> json</td>
          <td> <pre>
            {{ data | json }} 
            
            </pre>
          </td>
        </tr>

        <tr>
          <td> {{ valorPromesa }}</td>
          <td> async</td>
          <td> {{ valorPromesa | async }} </td>
        </tr>

        <tr>
          <td> {{ fecha }}</td>
          <td> date</td>
          <td> {{ fecha | date }} </td>
        </tr>

        <tr>
          <td> {{ fecha }}</td>
          <td> date - medium</td>
          <td> {{ fecha | date:'medium' }} </td>
        </tr>

        <tr>
          <td> {{ fecha }}</td>
          <td> date - short</td>
          <td> {{ fecha | date:'short' }} </td>
        </tr>

        <tr>
          <td> {{ fecha }}</td>
          <td> date - custom</td>
          <td> {{ fecha | date:'MMMM - dd' }} </td>
        </tr>

        <tr>
          <td> {{ fecha }}</td>
          <td> 
            date - Idioma
            <br>
            <button class="btn btn-primary" (click)="changeLanguague('es')">Español</button>
            <button class="btn btn-danger" (click)="changeLanguague('en')">Ingles</button>
          </td>
          <td> {{ fecha | date:'MMMM - dd':'':idioma }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>